@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
nav {
  display: flex;
  align-items: center;
  gap: 100px;
}
nav a:hover {
  color: rgb(33, 150, 243);
  cursor: pointer;
}

a {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-end: 0em;
  margin-block-start: 0em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

.navbar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 80px;
  border-bottom: 1px solid;
  border-color: rgb(236, 236, 236);
  justify-content: space-around;
}
.navbar__logo {
  color: rgb(33, 150, 243);
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 31px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-decoration: none;
}

.link-list {
  margin-left: 100px;
  align-items: center;
  display: flex;
  height: 80px;
  list-style: none;
  column-gap: 50px;
}
.link-list li .link-list__link {
  line-height: 77px;
  font-weight: 700;
}
.link-list li .link--current {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}
.link-list li .link--current::after {
  line-height: 77px;
  font-weight: 600;
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.contact-info-list {
  align-items: center;
  display: flex;
  height: 80px;
  list-style: none;
  column-gap: 50px;
}
.contact-info-list li .container-info {
  display: flex;
  gap: 10px;
}
.contact-info-list li .container-info:hover a, .contact-info-list li .container-info:hover .icon--navbar {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}
.contact-info-list li .container-info a {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 16px;
}
.contact-info-list li .container-info__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.contact-info-list li .container-info .icon--navbar {
  display: flex;
  height: 16px;
  width: 16px;
  fill: rgb(117, 117, 117);
}

footer {
  align-items: center;
  background-color: rgb(47, 48, 58);
  display: flex;
  flex-direction: row;
  gap: 0px;
  height: 210px;
  padding-top: 40px;
}

.footer-contact {
  align-content: flex-start;
  align-items: flex-start;
  column-gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 215px;
}
.footer-contact__logo {
  color: rgb(33, 150, 243);
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 31px;
  margin-block-end: 14px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-align: right;
  text-decoration: none;
}
.footer-contact__list {
  list-style-type: disc;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

.footer-social-media {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.footer-social-media ul {
  display: flex;
  gap: 10px;
}
.footer-social-media ul li a {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.footer-social-media ul li a svg {
  height: 20px;
  width: 20px;
  fill: rgb(255, 255, 255);
}
.footer-social-media ul li a:hover {
  background-color: rgb(33, 150, 243);
  cursor: pointer;
}
.footer-social-media__title {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 16px;
  margin-block-end: 20px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-bottom: 0%;
  text-transform: uppercase;
}

.subscribe-container {
  margin-left: 95px;
}
.subscribe-container form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-end;
}
.subscribe-container input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 360px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 15px;
  color: rgb(255, 255, 255);
  outline: 0px;
}
.subscribe-container input:focus {
  outline: 0;
  border-color: rgb(255, 255, 255);
}
.subscribe-container button {
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 0px 0px 0px 20px;
  border: 0px;
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  fill: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.subscribe-container button:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-container svg {
  height: 25px;
  width: 25px;
}
.subscribe-container label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.subscribe-container__form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

address {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 24px;
  width: 231px;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden,
.backdrop--is-hidden .modal {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.6);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 528px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1%;
  left: 93%;
  height: 30px;
  width: 30px;
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.modal__close-icon:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 500ms ease;
}
.modal__close-icon svg {
  height: 12px;
  width: 12px;
}
.modal__title {
  margin: 40px 0px 0px 0px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 20px;
}
.modal-form__button {
  background: rgb(33, 150, 243);
  height: 50px;
  width: 200px;
  color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 2px 3px 0px rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 700;
  margin: 30px 0px;
}
.modal-form__button:hover {
  cursor: pointer;
}

.custom-input {
  height: 60px;
  width: 450px;
  position: relative;
  margin: 4px 0px 10px 0px;
}
.custom-input input {
  border: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  width: 100%;
  height: 40px;
  padding-left: 35px;
  font-family: "Roboto";
  font-weight: 700;
  margin: 6px 0px;
}
.custom-input svg {
  position: absolute;
  top: 65%;
  left: 3%;
  height: 13px;
  width: 13px;
}
.custom-input label {
  color: rgb(117, 117, 117);
  font-size: 12px;
  font-weight: 500;
}
.custom-input input:focus {
  outline: none;
  border-color: rgb(33, 150, 243);
}
.custom-input input:focus + svg {
  height: 15px;
  width: 15px;
  fill: rgb(33, 150, 243);
}
.custom-input--feedback {
  height: 120px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.custom-input--feedback textarea {
  padding: 8px;
  text-align: start;
  border: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  width: 100%;
  height: 40px;
  font-family: "Roboto";
  font-weight: 700;
  margin: 6px 0px;
  height: 120px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  resize: none;
}
.custom-input--feedback textarea:focus {
  outline: none;
  border-color: rgb(33, 150, 243);
}
.custom-input--feedback textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
}

.terms-conditions-container {
  width: 430px;
}
.terms-conditions-container label {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

.services-container {
  align-items: center;
  background: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-content-image.jpg);
  background-attachment: fixed;
  background-size: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.services-container__title {
  color: rgb(255, 255, 255);
  font-size: 44px;
  height: 120px;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
}
.services-container__button {
  align-items: center;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-weight: 700px;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 40px;
  justify-content: center;
  width: 260px;
}
.services-container__button:hover {
  cursor: pointer;
}

.our-job-container__title {
  align-items: center;
  color: rgb(33, 33, 33);
  display: block;
  flex-direction: row;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 42px;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}
.our-job-container__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 0% 15%;
  gap: 30px;
}

.img-container {
  position: relative;
}
.img-container__title {
  background-color: rgba(47, 48, 58, 0.8);
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 70px;
  position: absolute;
  text-transform: uppercase;
  top: 77%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.team-container {
  margin-top: 90px;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: rgb(245, 244, 250);
}
.team-container__title {
  align-items: center;
  color: rgb(33, 33, 33);
  display: block;
  flex-direction: row;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 42px;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}
.team-container__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 0% 15%;
}

.team-card {
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 20px;
  row-gap: 30px;
}
.team-card:hover {
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.team-card__img {
  height: 260px;
}
.team-card__icon {
  fill: rgb(117, 117, 117);
  height: 20px;
  width: 20px;
}

.team-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-section__team-name {
  color: rgb(33, 33, 33);
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 19px;
  margin-bottom: 10px;
  text-align: center;
}
.team-section__team-job {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 19px;
  text-align: center;
}

.team-social-media {
  display: flex;
  width: 260px;
  margin: 15px 0px;
  gap: 15px;
  justify-content: center;
}
.team-social-media li a {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.team-social-media li a:hover, .team-social-media li a:hover svg {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
}
.team-social-media li a svg {
  fill: rgb(117, 117, 117);
  height: 20px;
  width: 20px;
}

.features-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 0% 15%;
}
.features-list__element h2 {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 215px;
  letter-spacing: 0.03em;
  line-height: 16px;
  text-transform: uppercase;
  top: 775px;
  width: 270px;
}
.features-list__element p {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 75px;
  left: 215px;
  letter-spacing: 0.03em;
  line-height: 24px;
  top: 801px;
  width: 270px;
}

.feature-card {
  background-color: rgb(245, 244, 250);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.feature-card__icon {
  width: 70px;
  height: 70px;
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
